@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: 'Roboto', sans-serif;
}


.card{
  margin-bottom: 30px;
  border-radius: 25px;
  color: white;
  border: solid #ffffff;
  margin: 1.25rem 0 1.25rem 0;
  box-shadow: 8.0px 8px 16.0px hsl(0deg 0% 0% / 0.25);
}
.card-head,
.card-footer{
  padding: 1rem 1.5rem;
  border-bottom: 1px solid #edf1f7;
  border-color: #ebeef4;
  background-color: #ffffff;
  color: #798eb3;
  padding: 15px;
}

.card-title{
  padding: 20px 0 15px 0;
  font-size: 18px;
  font-weight: 500;
  color: #000000;
  letter-spacing: 1px;
  font-family: 'Roboto', sans-serif;
}

.card-title span{
  color: #899bbd;
  font-size: 14px;
  font-weight: 400;
}

.card-body{
  padding: 0 20px 20px 20px;
}




.card-img-overlay{
  background-color: rgba(255, 255, 255, 0.6);
}

.body .info-card {
    padding-bottom: 10px;
  }
  
  
  .body .info-card h6{
    font-size: 25px;
    color: #000000;
    font-weight: 700;
    margin: 0;
    padding: 0;
  }
  
  
  
  /* @media (min-width: 1200px){
    .body .info-card h6{
      font-size: 22px;
    }
  } */
  
  .body .card-icon{
    font-size: 32px;
    line-height: 0;
    width: 64px;
    height: 64px;
    flex-shrink: 0;
    flex-grow: 0;
  }
  
  .body .sales-card .card-icon{
    color: #90a955;
    background: #f6f6fe;
  }
  
  .body .revenue-card .card-icon{
    color: var(--colorYellow);
    background: #f6f6fe;
  }
  
  .body .customers-card .card-icon{
    color: var(--hoverColor);
    background: #f6f6fe;
  }
  