# Python
*.pyc
*.pyo
*.pyd
__pycache__/

# Environment
.venv/
venv/
env/
ENV/

# IDEs and editors
.vscode/
.idea/

# Jupyter Notebook
.ipynb_checkpoints/

# TensorFlow
*.h5  # TensorFlow model files
*.pb  # TensorFlow protobuf files
*.ckpt # TensorFlow checkpoint files

# Logs
*.log

# System Files
.DS_Store
Thumbs.db

# Config files
*.env

