<h1>Dashboard</h1>

<div class="row">
    <div class="col-lg-8"></div>
</div>



<div class="row">
    <div class="col-lg-8">
<top-cards></top-cards>
        <div class="col-12">

        </div>
        <div class="col-12">
            
        </div> <div class="col-12">
            
        </div>
        <div class="card">
            <div class="card-head">
                <h6 >Card Title</h6>
            </div>
            <div class="card-body">
                ghghghjghjghj<br>hghjghjghjgh
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card">
            <div class="card-head">
                <h6 >Card Title</h6>
            </div>
            <div class="card-body">
                hjhjhjhhhhh
            </div>
        </div>
        <div class="card">
            <div class="card-head">
                <h6 >Card Title</h6>
            </div>
            <div class="card-body">
                hjhjhjhhhhh
            </div>
        </div>
        
    </div>
</div>
