.sidenav {
    background: #ffffff;
    transition: all .5s ease;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 5rem;
    z-index: 1000;
    overflow-x: hidden;
    box-shadow: 0.063rem 0 1.25rem 0 rgba(0, 0, 0, 0.1);
}

.sidenav .logo-container{
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    padding: 0.938rem 0.938rem 0 0.938rem;
    width: 100%;
}

.sidenav .logo-container .logo{
    width: 3rem;
    min-width: 3rem;
    min-height: 3rem;
    border-radius: 0.313rem;
    background: #263238;
    align-items: center;
    font-size: 24px;
    font-weight: 900;
    color: #ffffff;
    cursor: pointer;

}

.sidenav .logo-container .logo-text{
    margin-left: 1.5rem;
    font-size: 24px;
    font-weight: 900;
    color: #353434;


}

.sidenav .logo-container .btn-closed{
    margin-left: auto;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: none;
    background-color: transparent;


}

.sidenav .logo-container .fa-times{
    font-size: 1.5rem;

}


.sidenav-collapsed{
    width: 16.625rem;
}

.sidenav-nav{
    list-style: none;
    padding: 0.938rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100% - 30.65);
}

.sidenav-nav .sidenav-nav-item{
    width: 100%;
    margin-bottom: 0.625rem;
    border-radius: 0.313rem;
    /* background: #ffffff; */


}

.sidenav-nav .sidenav-nav-item:hover{
    background: #73b454;


}

.sidenav-nav .sidenav-nav-item .sidenav-nav-link{
    display: flex;
    align-items: center;
    width: 100%;
    height: 3.125rem;
    color: #263238;
    text-decoration: none;
   
}

.sidenav-nav .sidenav-nav-item .sidenav-nav-link:hover{
    color: #ffffff;   
}

.sidenav-link-icon {
    font-size: 22px;
    width: 2rem;
    min-width: 2rem;
    margin: 0 0.5rem;
    text-align: center;

}
.sidenav-nav .sidenav-link-text{
    margin-left: 1.5rem;
}


.active{
    background-color: #73b454;
    border-radius: 0.313rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.active .sidenav-nav-icon,
.active .sidenav-link-text {
    color: #000000;
}