<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed' : ''">
    <div class="logo-container">
        <button class="logo" (click)="toggleCollapsed()">A</button>
        <div class="logo-text" *ngIf="collapsed">Agropro+</div>
        <button class="btn-closed" *ngIf="collapsed" (click)="closeSidenav()">
            <i class="fal fa-times close-icon"></i>
        </button>
    </div>
    <ul class="sidenav-nav">
        <li class="sidenav-nav-item" *ngFor="let data of navData">
            <a  class="sidenav-nav-link" [routerLink]="[data.routeLink]"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}"
            >
                <i class="sidenav-link-icon" [class]="data.icon"></i>
                <span class="sidenav-link-text" *ngIf="collapsed">{{ data.name }}</span>

            </a>

        </li>

        <!-- <li class=" sidenav-nav-item">
            <a  class="sidenav-nav-link" [routerLink]=""
                routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}"
            >
                <i class="sidenav-link-icon" [class]=""></i>
                <span class="sidenav-link-text" *ngIf="collapsed">Settings</span>

            </a>

        </li> -->
     

    </ul>
</div>
